<div class="container">
    <h2>Edit Details</h2>
    <hr>
    <div class="col-md-5">
        <form  class="form-horizontal" enctype="multipart/form-data" action="/editSave" method="post">
            <div class="form-group">
                <label class="control-label col-md-3" for="date">Date:</label>
                <div class="col-md-9">
                    <div id="date-picker" >
                        <div class='input-group date col-md-3'  id='startDate'>
                            <input type='text' value="{{array.date}}" name="date" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3" for="pwd">Description:</label>
                <div class="col-md-9">
                                        <textarea class="form-control" type="textarea" name="Description"
                                                  id="message" placeholder="Description in a few words"
                                                  maxlength="1000" rows="1" required>{{array.Description}}</textarea>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3" for="pwd">Amount:</label>
                <div class=" col-md-9">
                    <input type="number" id="amount" name="Amount" value="{{array.Amount}}" required class="form-control">
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3" for="pwd">Debit/Credit:</label>
                <div class=" col-md-9">

                    <select name="DOC" id="DOC" class="form-control" required>
                        <option value="">Select an option</option>
                        {{editDOC array.DOC}}
                    </select>

                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3" for="pwd">Responsible:</label>
                <div class=" col-md-9">
                    <input type="text" value="{{array.Responsible}}" name ="Responsible" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Category:</label>
                <div class=" col-md-9">

                    <input list="categories" id="category" name="Category"  value="{{array.Category}}" class="form-control"/>

                    <datalist id="categories">
                        {{CreateCategory Categories}}
                    </datalist>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Proof:</label>
                <div class=" col-md-9">
                    <input type="file" name="pic" class="form-control" onchange="readURL(this);" />
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-offset-3 col-md-3">
                    <button type="submit" class="btn btn-success" >Save</button>
                </div>

                <div class="col-md-offset-2 col-md-3">


                            <button type="button" id='deleteBtn' class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" >Delete this entry</button>


                </div>
                </div>
        </form>
        </div>

    <div class="col-md-7">
    <img id="photo" alt="User Pic" src="uploads/{{array.imgFile}}" class="img-responsive" >
    </div>

</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/deleteData" method="post">
                <input type="hidden" id="deleteID" name="deleteID" value="">
                <div class="modal-header">
                    Confirmation
                </div>
                <div class="modal-body">
                    Do you really want to delete this Entry?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button  type="submit" class="btn btn-danger btn-ok">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<div class="container-fluid" style="padding: 25px 75px 15px 75px" >


    <table class="table tr">
        <thead >
        <tr >
            <th>Date</th>
            <th>Description</th>
            <th >
                Amount
            </th>
            <th >
                Debit/Credit
            </th>
            <th>Responsible</th>
            <th>Category</th>
            <th>Proof
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form enctype="multipart/form-data" action="/editSave" method="post">
            <tr>
                <td>
                    <div id="date-picker" >
                        <div class='input-group date col-md-3'  id='startDate'>
                            <input type='text' value={{array.date}} name="date"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </td>
                <td>
                        <textarea class="form-control" type="textarea" name="Description"
                                  id="message" placeholder="Description in a few words"
                                  maxlength="1000" rows="1">{{array.Description}}</textarea>
                </td>
                <td>
                    <input type="number" id="amount" value={{array.Amount}} name="Amount" class="form-control">
                </td>
                <td>
                    <select name="DOC" id="DOC" class="form-control">
                        {{editDOC array.DOC}}
                    </select>
                </td>
                <td>
                    <input type="text"  name="Responsible" value={{array.Responsible}} class="form-control">
                </td>
                <td>
                    <input list="categories" id="category" name="Category" value={{array.Category}} class="form-control"/>

                    <datalist id="categories">
                        {{CreateCategory Categories}}
                    </datalist>
                </td>
                <td>
                    <input type="file" name="pic" onchange="readURL(this);" />
                </td>

                <td>
                    <button type="submit"><i class="glyphicon glyphicon-save"></i></button>
        </form>
                    <form action="/deleteData" method="post">
                        <button type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                    </form>
                </td>
            </tr>




        </tbody>-->


  <!--  </table>






</div>-->


<script>
    $(document).ready(function () {


        $('#date-picker .input-group.date').datepicker({
            format: "dd/mm/yyyy",
            weekStart: 6,
            todayBtn: "linked",
            daysOfWeekHighlighted: "2",
            todayHighlight: true,
            autoclose: true,
            toggleActive: true
        });
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#photo')
                        .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    
    
</script>



