<form id="myform" method="post" autocomplete="off" action="/generateReport">
    <div class="row">
        <div class="container">
            <input type="hidden" id="head" value="{{head}}">
            <div id="sandbox-container" class="col-sm-3">
                <label>Select date</label>
                <div class="input-group date">
                    <input name="date" id="calendar" type="text" class="form-control">
                    <span class="input-group-addon "><i class="glyphicon glyphicon-th" onmouseover="true" ></i></span>

                </div>
            </div>
            <div id="sandbox-container1" class="col-sm-3">
                <label>Select Month</label>
                <input name="attendMonth" type="text"  class="form-control">

            </div>

            <div id="rangePicker" class="col-sm-3">
                <label>Select range</label>
                <div class="input-daterange input-group" id="datepicker">
                    <input class="input-sm form-control" name="start" />
                    <span class="input-group-addon">to</span>
                    <input class="input-sm form-control" name="end" />

                </div>
                <button id="showBtn" type="submit" class="btn-success">Show</button>
            </div>
            <div class="col-sm-3">
                <label>Select Category</label>
                <select name="Category" class="form-control">
                    <option value="All">All</option>
                    {{CreateCategory array}}
                </select>

            </div>
        </div>

    </div>
</form>
    <br>
    <div class="row">
        <div class="container">
            <table id="users" class="display" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th >Amount</th>
                    <th >Debit/Credit</th>
                    <th>Responsible</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {{ReportDetailsRow array2}}
                </tbody>
                <!--<tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Total:</th>
                    <th>{{ShowBalance2}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>-->
                <caption><div class="row">{{head}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Category}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ShowBalance2}}</caption>
            </table>
        </div>
    </div>






<script>

    var table=$('#users').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf','print'
        ],


    });


    $( "input[type='text']" ).change(function() {
        // Check input( $( this ).val() ) for validity here
        document.getElementById("myform").submit();
    });


    $('#sandbox-container1 input').datepicker({
        format: "mm/yyyy",
        startView: 1,
        minViewMode: 1,
        maxViewMode: 2,
        autoclose: true,
        toggleActive: true
    });
    $('#sandbox-container .input-group.date').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 6,
        todayBtn:  "linked",
        daysOfWeekHighlighted: "2",
        todayHighlight: true,
        autoclose: true,
        toggleActive: true
    });

    $('#rangePicker .input-daterange').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        todayHighlight: true,
        autoclose: true
    });


</script>