<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        {{#if message }}
            <div class="alert alert-danger">{{ message}}</div>
        {{/if}}


        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-lg" formaction='/signup' formmethod='post'>Signup</button>
            </div>

        </form>

        <hr>

    </div>

</div>


