<!--<div class="btn-group">
    <button class="btn-primary">View</button>
    <button class="btn-primary">New</button>
    <button class="btn-primary">Edit</button>
</div>-->
<div class="container-fluid" style="padding: 25px 75px 15px 75px" >
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form  class="form-horizontal" enctype="multipart/form-data" action="/saveTable" method="post">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="date">Date:</label>
                                <div class="col-sm-10">
                                    <div id="date-picker" >
                                        <div class='input-group date col-sm-3'  id='startDate'>
                                            <input type='text' name="date" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2" for="pwd">Description:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" type="textarea" name="Description"
                                              id="message" placeholder="Description in a few words"
                                              maxlength="1000" required rows="1"></textarea>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2" for="pwd">Amount:</label>
                                <div class=" col-sm-10">
                                    <input type="number" id="amount" name="Amount" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2" for="pwd">Debit/Credit:</label>
                                <div class=" col-sm-10">

                                    <select name="DOC" id="DOC" class="form-control" required>
                                        <option value="">Select an option</option>
                                        <option value="Debit">Debit</option>
                                        <option value="Credit">Credit</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2" for="pwd">Responsible:</label>
                                <div class=" col-sm-10">
                                    <input type="text"  name="Responsible" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Category:</label>
                                <div class=" col-sm-10">

                                    <input list="categories" id="category" name="Category"  class="form-control"/>

                                    <datalist id="categories">
                                        {{CreateCategory Categories}}
                                    </datalist>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Proof:</label>
                                <div class=" col-sm-10">
                                    <input type="file" name="pic" class="form-control" onchange="readURL(this);" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success" >Add new entry</button>
                                </div>
                            </div>

                    </form>
                </div>


            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="pull-left col"><button type="button" data-toggle="modal" id="button" data-target="#myModal"><img src="images/add_new.png" class="img-responsive" width=65px></button></div>
        <div class="text-center col-sm-3"><h2>Details</h2></div>
        <div class="pull-right col"><h2>Balance:{{Balance}}</h2></div>
    </div>
    <hr>
    <div class="table-responsive">
        <form id="myform" action="/editTable" method="post">
        <table id="users" class="display" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th >Amount</th>
                    <th >Debit/Credit</th>
                    <th>Responsible</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {{ShowTable array}}
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>



    $(document).ready(function () {
        $('#date-picker .input-group.date').datepicker({
            format: "dd/mm/yyyy",
            weekStart: 6,
            todayBtn:  "linked",
            daysOfWeekHighlighted: "2",
            todayHighlight: true,
            autoclose: true,
            toggleActive: true
        });
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function ( a ) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );

        var table = $('#users').DataTable({
            "aoColumns": [
                null,
                { "sType": "date-uk" },
                null,
                null,
                null,
                null,
                null
            ],
            "order": [ 0, 'desc' ]
        });
        $('#users tbody').on('click', 'tr', function () {
            var data=table.row(this).data();
            var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "ID").val(data[0]);

            console.log(data[0]);
            // $('#myform').attr("action","/employee_detail/"+data[0]).submit();
            $('#myform').append($(input)).submit();

        });
    });

    /*function myFunction(i) {


        for (j=0;j<arr.length;j++) {
            document.getElementById("myDropdown"+j).style.display="none";
        }
        document.getElementById("myDropdown"+i).style.display="block";



    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    $(document).ready(function () {
        $('tr').click(function () {


            //Check to see if background color is set or if it's set to white.
            /!*if(this.style.background == "") {
                $(this).css('background', '#00ccff');
            }
            else {
                $(this).css('background-color', '');
            }*!/

        });
    });*/
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#photo')
                        .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>