<div class="container">
        <h2>Category: {{name}}</h2><br>
    <form id="myform" action="/editTable" method="post">
        <table  id='users' class="display" cellspacing="0" width="100%">
            <thead>
            <tr >
                <th></th>
                <th>ID</th>
                <th>Date</th>
                <th>Description</th>
                <th >Debit/Credit</th>
                <th >Amount</th>
            </tr>
            </thead>
            <tbody>
            {{DetailsRow array}}
            </tbody>

        </table>
    </form>

    <hr>
    {{ShowBalance}}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" id="button" data-target="#myModal">Calculate</button>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" id="deleteBtn" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span>Delete</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <span id="details"></span>
                </div>
                <div class="modal-footer" id="footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/deleteDataFromCategory" method="post">
                <input type="hidden" id="deleteID" name="deleteID" value="">
                <div class="modal-header">
                    Confirmation
                </div>
                <div class="modal-body">
                    Do you really want to delete this Entries?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button  type="submit" name='ID' value="{{name}}" class="btn btn-danger btn-ok">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var table=$('#users').DataTable( {
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0,
                checkboxes:{
                    selectRow: true
                }
            } ],
            select: {
                style:    'multi+shift',
                selector: 'td:first-child'
            },
            order: [[ 1, 'desc' ]]
        } );

        /*$('#users tbody').on('click', 'tr', function () {
            var data=table.row(this).data();
            var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "ID").val(data[1]);
            // $('#myform').attr("action","/employee_detail/"+data[0]).submit();
            $('#myform').append($(input)).submit();

        });*/
        $(".click").click(function() {
            var $item = $(this).closest("tr")   // Finds the closest row <tr>
                    .find(".id")     // Gets a descendent with class="nm"
                    .text();         // Retrieves the text within <td>

            console.log($item);
            var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "ID").val($item);
            $('#myform').append($(input)).submit();

        });
        $('#deleteBtn').click(function () {
            var array=[];
            $.map(table.rows('.selected').data(), function (item) {
                array.push(item[1]);

            });
            $('#deleteID').val(array);
        });
        $('#button').click(function () {
            var string="<table  class='table table-responsive'>\n" +
                    "            <thead>\n" +
                    "            <tr >\n" +
                    "                <th>Date</th>\n" +
                    "                <th>Description</th>\n" +
                    "                <th >Debit/Credit</th>\n" +
                    "                <th >Amount</th>\n" +
                    "            </tr>\n" +
                    "            </thead>\n" +
                    "            <tbody>";
            var debit=0,credit=0;
            $.map(table.rows('.selected').data(), function (item) {
                string=string+"<tr>\n" +
                        "<td>"+item[2]+"</td>\n" +
                        "<td>"+item[3]+"</td>\n" +
                        "<td>"+item[4]+"</td>\n" +
                        "<td>"+item[5]+"</td>\n" +
                        "</tr>\n";
                //string+=item[1]+" -- "+item[2]+" -- "+item[3]+" -- "+item[4]+"<br>";
                if (item[4]=='Debit'){
                    debit += (-1)*parseInt(item[5],10);
                }
                else if(item[4] == 'Credit'){
                    credit += parseInt(item[5],10);
                }
                else{

                }

            });
            string+="</tbody>\n" +
                    "\n" +
                    "        </table>" ;
            var balance=credit-debit;
            var string2="<div class='pull-right' style='padding-right: 15%'><h3>Total Amount:  &nbsp;"+balance+"</h3>"+
                    "</div>";

            //console.log(ids);
            /*ids.forEach(function(element) {
                var data = table.rows(element).data();
                console.log(data);
            });
*/
            //alert(ids.length + ' row(s) selected');
            //alert(balance);
            document.getElementById("details").innerHTML=string;
            document.getElementById("footer").innerHTML=string2;
           // $(".modal-body #details").innerHTML( string );
        });

    } );
</script>
