<div class="container">
    <!--<div id="main_area">
        &lt;!&ndash; Slider &ndash;&gt;
        <div class="row">
            <div class="col-sm-10" id="slider-thumbs">
                &lt;!&ndash; Bottom switcher of slider &ndash;&gt;
                <ul class="hide-bullets">
                    <form action="/viewDetails" method="post">
                        {{CategoryList array}}
                    </form>

                </ul>
            </div>

        </div>

    </div>-->
    <form id="myform" action="/viewDetails" method="post">
        <table id="myTable" class="table table-striped w-auto">
        <thead>
        <tr >
            <th>Serial</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{CategoryList array}}
        </tbody>

    </table>
    </form>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/deleteCategory" method="post">
            <input type="hidden" id="deleteID" name="deleteID" value="">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                Do you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  type="submit" class="btn btn-danger btn-ok">Delete</button>
            </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/editCategory" method="post">
                <input type="hidden" id="editID" name="editID" value="">
                <div class="modal-header">
                    Edit Category Name
                </div>
                <div class="modal-body">
                    <input id="editName" name="editedName" type="text" value="" >
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-success btn-ok">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
   /* $('#editModal').modal({
        keyboard: true,
        backdrop: "static",
        show:false,

    }).on('show.bs.modal', function(){
        var getIdFromRow = $(this).data('name');
        console.log(getIdFromRow);
        $('#modalID').attr("value",getIdFromRow);
        $('#editName').attr("value",getIdFromRow);
        //make your ajax call populate items or what even you need
        //$(this).find('#orderDetails').html($('<b> Order Id selected: ' + getIdFromRow  + '</b>'))
    });*/

 /*   $('').click(function(){
        //or do your operations here instead of on show of modal to populate values to modal.
        //$('#editModal').data('name',$(this).data('id'));
        var name = $(this).attr("data-id");
        console.log(name);
        $('#editID').attr("value",name);
        $('#editName').attr("value",name);
    });*/
   $('#myTable').DataTable({
       "bPaginate":false
   });
   $(".edit").click(function() {
       var $item = $(this).closest("tr")   // Finds the closest row <tr>
               .find(".nm")     // Gets a descendent with class="nm"
               .text();         // Retrieves the text within <td>

       console.log($item);
       $('#editName').attr("value",$item);
       $('#editID').attr("value",$item);
       // Outputs the answer
   });
   $(".delete").click(function() {
       var $item = $(this).closest("tr")   // Finds the closest row <tr>
               .find(".nm")     // Gets a descendent with class="nm"
               .text();         // Retrieves the text within <td>

       console.log($item);
       $('#deleteID').attr("value",$item);
       // Outputs the answer
   });


</script>