body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}
.color{
  color: black;
}

section {
  float: left;
  background: #bdc3c7;
  padding: 10px;
  margin: 30px;
  width: 300px;
  box-shadow: 3px 3px 1px #34495e;
  min-height: 400px;
}
.exPadding{
  padding-top:4.5%;

}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #2ecc71;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

input,
button {
  font: inherit;
}
caption{
  caption-side: top;
  width: 15px;
  font-size: 20px

}
button {
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}

.item {
  margin: 10px 0;
  padding: 5px;
  background: #95a5a6;
  border: 1px solid black;
}
.navTopMenu {
  font-size: 14px;
  font-weight: bold;
  float: right;
  color: blue;
  padding-left: 10px;

  margin-left: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  line-height: 18px;

}



@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
img{
  max-width:100px;
  height:100px;
}
.input{
  border: none;
  background: transparent;
  width: 200px;
}
.input-ID{
  border: none;
  background: transparent;
  width: 30px;
}
*[data-href] {
  cursor: pointer;
}
.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}

.hoverTable tr:hover {
  background-color: #ccf5ff;
  .

}




.dropbtn {
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ccf5ff;
}

.dropdown {
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content button {
  width: 200px;
  display:list-item;
  text-align: center;
  outline: none;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
.hide{display: none;}
.content-shadow {
  box-shadow: 0 0 10px darkcyan !important;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:40px;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

